*{
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}
.no-contacts {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
  margin-top: 20px;
  margin-right: 70px;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.right{
  width: 100%;
}

.sidebar-container{
  width: 475px;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  flex-shrink: 0;
}
.sidebar-header{
  height: 140px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #c1c1c1;
  box-sizing: border-box; 
}

.sidebar-body{
  display: flex;
  height: calc(100vh - 140px);
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  overflow-y: auto;
}

.contact-container{
  padding: 20px;
  border-radius: 7px;
}

.contact-container:hover{
  background-color: #6b9ae4;
  color: white;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.search-container{
  background-color: #feffff;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 250px;
  border-radius: 7px;
}
#search{
  font-family: sans-serif;
  height: 25px;
  font-size: 14px;
  width: 100%;
  margin-left: 15px;
  border: none;
}

#search:focus{
  outline: none;
}

.addBtn{
  padding: 10px;
  width: 80px;
  height: 44px;
  font-size: medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  background-color: #feffff;
  color: #6b9ae4;
}

.addBtn:hover{
  color: #feffff;
  background-color: #6b9ae4;
  transition-duration: 0.3s;
}

.profile-container{
  background-color: #fff;
  padding: 80px;
  flex-grow: 1;
}

.card-container{
  width: 100%;
  height: 400px;
  display: flex;
  box-sizing: border-box;
}

.img-container {
  width: 175px;
  height: 175px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.details-container{
  margin-left: 30px;
  flex-grow: 1;
}

.details-container a{
  font-size: 18px;
  color: #6b9ae4;
  text-decoration: none;
}

.details-container p{
  font-size: 18px;
}


#deleteBtn{
  padding: 10px;
  width: 80px;
  height: 44px;
  font-size: medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  background-color: #d76469;
  color: #feffff;
  margin-right: 10px;
}

#deleteBtn:hover{
  color: #d76469;
  background-color: #feffff;
  transition-duration: 0.3s;
}

.form-header{
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-body{
  padding: 10px;
  width: 100%;
}
form{
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

}

label{
  margin:25px 0 8px 0;
}

input{
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}
input:focus{
  outline: none;
}

textarea{
  resize: none;
  height: 90px;
  border-radius: 5px;
}
textarea:focus{
  outline: none;
}

.submit-contact{
  height: 40px;
  margin-top: 20px;
  background-color: #4e8aea;
  color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: medium;
  padding: 5px;
}

.custom-dropdown {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 80px;
  row-gap: 15px;
  padding: 5px;
  width: 750px;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px
  /* border-bottom: 1px solid #f0f0f0; */
}

.dropdown-option img.avatar-img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.dropdown-option.selected {
  background-color: #f0f0f0;
  font-weight: bold;
}